# Assignment: Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

## 1. Download and Explore Dataset

In order to segment the neighborhoods and explore them, we essentially need a dataset that contains the Toronto boroughs and the neighborhoods that exist in each borough as well as the the latitude and logitude coordinates of each neighborhood.

So we code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [2]:
# Let's take a quick look at the table in html.

df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
toronto_data_ = df[0]
toronto_data_.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [3]:
#set the header row as the df header
new_header = toronto_data_.iloc[0]
toronto_data = toronto_data_[1:] 
toronto_data.columns = new_header 
toronto_data.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [4]:
# remove the 'Not assigned' rows based on Borough column in the dataframe

toronto_data = toronto_data[toronto_data.Borough != 'Not assigned'].reset_index()
toronto_data.head()

0  index Postcode           Borough     Neighbourhood
0      3      M3A        North York         Parkwoods
1      4      M4A        North York  Victoria Village
2      5      M5A  Downtown Toronto      Harbourfront
3      6      M5A  Downtown Toronto       Regent Park
4      7      M6A        North York  Lawrence Heights

In [5]:
toronto_data.drop(columns ='index', axis =1, inplace =True)
toronto_data.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [6]:
# remane the columns
toronto_data.rename(columns = {'Postcode': 'Postalcode','Neighbourhood' :'Neighborhood'}, inplace = True)
toronto_data.head(5)

0 Postalcode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [7]:
# combine dublicate rows into one row with the neighborhoods separated with a comma
toronto_data = toronto_data.groupby(['Postalcode', 'Borough'])['Neighborhood'].agg([('Neighborhood', ', '.join)]).reset_index()
toronto_data.head(10)

  Postalcode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [8]:
# replace a Not assigned neighborhood value with the borough value

toronto_data.loc[toronto_data.Neighborhood == 'Not assigned', 'Borough'] = "Queen's Park"
 
toronto_data.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [16]:
# the shape of the dataset

toronto_data.shape

(103, 3)